@model AllPhonesQueryModel


<form method="get">
    <div class="row mb-5">
        <div class="form-group col-md-4">
            <label asp-for="SearchTerm" class="form-label"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="IPHONE 12, etc....">
        </div>

        <div class="form-group col-md-4">

        </div>

        <div class="form-group col-md-4">
          
        </div>

       
    </div>
</form>


<div class="row">
    @foreach (var phone in Model.Phones)
    {
        <div class="card" style="width: 18rem;">
            <img src="@phone.Url" class="card-img-top" alt="@phone.Model - @phone.Year (@phone.MobilePhoneBrands)">
            <div class="card-body">
                <h5 class="card-title">@phone.Model (@phone.Year)</h5>
                <h5 class="card-title">@phone.Price BGN</h5>
                <a asp-controller="MobilePhone" asp-action="Details" asp-route-id="@phone.Id" class="btn btn-primary">More details</a>
            </div>
        </div>
    }
</div>


