@model List<MobilePhoneListingViewModel>
@{
    ViewData["Title"] = "Welcome";
}

@{

    var firstPhone = Model.Any() ? Model[0] : null;
    var secondPhone = Model.Count > 1 ? Model[1] : null;
    var thirdPhone = Model.Count > 2 ? Model[2] : null;
}


@if (!Model.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the best place for buying a techonology!</h1>
        <p class="lead">There are no phones in the system currently available so why don't you just add one?</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="MobilePhone" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Phone</a>
        </p>
    </div>
}

<div class="row-cols-1">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner active ">
            @if (firstPhone != null)
            {
                <div class="carousel-item active ">
                    <img class="d-block  w-70" src="@firstPhone.Url" alt=" @firstPhone.Model">
                    <div class="carousel-caption d-none d-md-block">
                        <h5><a class="btn btn-info" asp-controller="MobilePhone" asp-action="Details" asp-route-id="@firstPhone.Id"> @firstPhone.Model (@firstPhone.Year)  </a></h5>
                    </div>
                </div>
            }
            < @if (secondPhone != null)
            {
            <div class="carousel-item ">
                <img class="d-block  w-70" src="@secondPhone.Url" alt=" @secondPhone.Model">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-info" asp-controller="MobilePhone" asp-action="Details" asp-route-id="@secondPhone.Id">@secondPhone.Model (@secondPhone.Year) </a></h5>
                </div>
            </div>
            }
            < @if (thirdPhone != null)
            {
            <div class="carousel-item ">
                <img class="d-block  w-70" src="@thirdPhone.Url" alt=" @thirdPhone.Model">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-info" asp-controller="MobilePhone" asp-action="Details" asp-route-id="@thirdPhone.Id"> @thirdPhone.Model (@thirdPhone.Year)  </a></h5>
                </div>
            </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
